@font-face {
  font-family: 'PulpDisplay';
  src: url('../assets/fonts/PulpDisplay-Light.ttf');
  src: url('../assets/fonts/PulpDisplay-Light.ttf') format('embedded-opentype'),
      url('../assets/fonts/PulpDisplay-Light.ttf') format('svg'),
      url('../assets/fonts/PulpDisplay-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PulpDisplay';
  src: url('../assets/fonts/PulpDisplay-Regular.ttf');
  src: url('../assets/fonts/PulpDisplay-Regular.ttf') format('embedded-opentype'),
      url('../assets/fonts/PulpDisplay-Regular.ttf') format('svg'),
      url('../assets/fonts/PulpDisplay-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PulpDisplay';
  src: url('../assets/fonts/PulpDisplay-Medium.ttf');
  src: url('../assets/fonts/PulpDisplay-Medium.ttf') format('embedded-opentype'),
      url('../assets/fonts/PulpDisplay-Medium.ttf') format('svg'),
      url('../assets/fonts/PulpDisplay-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PulpDisplay';
  src: url('../assets/fonts/PulpDisplay-Bold.ttf');
  src: url('../assets/fonts/PulpDisplay-Bold.ttf') format('embedded-opentype'),
      url('../assets/fonts/PulpDisplay-Bold.ttf') format('svg'),
      url('../assets/fonts/PulpDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  transition-duration: 110ms;
}

body {
  -webkit-font-smoothing: antialiased !important;
  background-color: white;
}


::-webkit-scrollbar {
  width: 0.7em;
  height: 0.7em;
}

::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: #F4F6F8;
  padding: 0 2px;
}

input,
select,
button {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.pd-r-0 {
  padding-right: 0;
}

.pd-l-15 {
  padding-left: 15px;
}

.mg-0 {
  margin: 0 !important;
}

.pd-0 {
  margin: 0 !important;
}

.pd-t-10 {
  padding-top: 10px;
}

.pd-b-10 {
  padding-bottom: 10px;
}

.pd-l-10 {
  padding-left: 10px;
}

.pd-r-10 {
  padding-right: 10px;
}

.pd-t-20 {
  padding-top: 20px;
}

.pd-b-20 {
  padding-bottom: 20px;
}

.pd-l-20 {
  padding-left: 20px;
}

.pd-r-20 {
  padding-right: 20px;
}

.pd-t-30 {
  padding-top: 30px;
}

.pd-b-30 {
  padding-bottom: 30px;
}

.pd-l-30 {
  padding-left: 30px;
}

.pd-r-30 {
  padding-right: 30px;
}

.pd-t-40 {
  padding-top: 40px;
}

.pd-b-40 {
  padding-bottom: 40px;
}

.pd-l-40 {
  padding-left: 40px;
}

.pd-t-50 {
  padding-top: 50px;
}

.pd-b-50 {
  padding-bottom: 50px;
}

.pd-t-60 {
  padding-top: 60px;
}

.pd-b-60 {
  padding-bottom: 60px;
}

.pd-b-65 {
  padding-bottom: 65px;
}

.pd-t-70 {
  padding-top: 70px;
}

.pd-b-70 {
  padding-bottom: 70px;
}

.pd-b-75 {
  padding-bottom: 75px;
}

.pd-t-80 {
  padding-top: 80px;
}

.pd-b-80 {
  padding-bottom: 80px;
}

.pd-t-90 {
  padding-top: 90px;
}

.pd-b-90 {
  padding-bottom: 90px;
}

.pd-t-100 {
  padding-top: 100px;
}

.pd-b-100 {
  padding-bottom: 100px;
}

.pd-t-120 {
  padding-top: 120px;
}

.pd-b-120 {
  padding-bottom: 120px;
}

.pd-t-150 {
  padding-top: 150px;
}

.pd-b-150 {
  padding-bottom: 150px;
}